/*@@author A0123994W*/

/* Color Template */

/* default-theme
 * --------------
 * background: #D8E9F0;
 * accent: #4AA0D5;
 * accent-two: #A9EEE6;
 * accent-three: #95E1D3;
 * accent-four: #069A8E;
 * content: #F8F3D4;
 * content-two: #FEFAEC;
 * focus: #EB586F;
 * focus-two: #F08A5D;
 * dark: #454553;
 * hint: #7A9EAF;
*/

/* dark-theme
 * --------------
 * background: #D8E9F0;
 * accent: #4AA0D5;
 * accent-two: #A9EEE6;
 * accent-three: #95E1D3;
 * content: #F8F3D4;
 * content-two: #303841;
 * focus: #EB586F;
 * focus-two: #F08A5D;
 * dark: #454553;
 * hint: #7A9EAF;
*/


/* Panel CSS Options */

.root-layout {
	-fx-background-color: #7A9EAF;
}

.main-view {
    -fx-padding: 6.0 6.0 6.0 6.0;
	-fx-border-color: transparent;
	-fx-background-color: transparent;
	-fx-box-border: transparent;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.split-pane {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.titled-pane {
    -fx-padding: 0.0 0.0 6.0 0.0;
	/*-fx-text-fill: white;*/
    -fx-font-size: 12.0pt;
    -fx-font-family: "System Font";
}

.titled-pane:focused {
	/*-fx-text-fill: white;*/
}

#titled-pane-hbox-text {
	-fx-fill: #F08A5D;
	-fx-font-size: 16.0pt;
    -fx-effect: innershadow( gaussian, rgba( 0.0, 0.0, 0.0, 0.4 ), 2.0, 2.0, 2.0, 2.0 );
}

.titled-pane > .title {
	-fx-background-color: #F08A5D;
    -fx-font-size: 20.0pt;
    -fx-text-fill: #FEFAEC;
    -fx-font-weight: bold;
}

.table-view {
    
}

.titled-pane:focused > .title {
	-fx-color: #4AA0D5;
    -fx-text-fill: #FEFAEC;
    -fx-font-weight: bold;
}

.titled-pane > .content {
	-fx-background-color: #454553;
	-fx-background-radius: 0.0 0.0 6.5 6.5;
}

.list-view .scroll-bar:vertical .track {
    /*-fx-opacity: 0.0;*/
    /*-fx-padding: -12.0;*/
    -fx-background-color:transparent;
    -fx-border-color:transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius:2.0em;
}

.list-view .scroll-bar:vertical .increment-button ,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0.0em;
    -fx-padding:0.0 10.0 0.0 0.0;
}

.list-view  .scroll-bar .increment-arrow,
.list-view  .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding:0.0;
}

.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90.0%);
   	-fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}




.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 6.5 6.5 0.0 6.5;
    -fx-background-insets: 0.0px, 10.0px;
}

.list-cell:filled:selected:focused > #task-hbox-item {
    -fx-background-color: #EB586F;
    /*-fx-text-fill: #FEFAEC;*/
}

.list-cell:filled:selected:focused > #task-hbox-item .label {
    -fx-text-fill: #FEFAEC;
}

.list-cell:filled:selected:focused > #task-hbox-item .text {
	-fx-fill: #FEFAEC;
}

.list-cell:filled > #task-hbox-item {
    -fx-background-color: #506F86;
    /*-fx-text-fill: #FEFAEC;*/
}

.list-cell:filled > #task-hbox-item .label {
    /*-fx-text-fill: #FEFAEC;*/
    -fx-text-fill: #454553;
}

.list-cell:filled > #task-hbox-item .text {
    -fx-fill: #454553;
}

#task-hbox-item {
    -fx-border-color: transparent;
    -fx-border-width: 0.0;
}

.text-field {
	-fx-background-color: #454553;	
    -fx-font-size: 12.0pt;
    -fx-font-family: "System Font";
    -fx-text-fill: #4AA0D5;
    -fx-prompt-text-fill: #7A9EAF;
    -fx-font-weight: regular;
}

#table-view {
    -fx-border-color: transparent;
    -fx-border-width: 0.0;
    -fx-focus-color: white;
}

.title-bar {
	-fx-background-color: #3576A7;
}

.hbox-group {
	-fx-font-size: 20.0pt;
}

.image-view {
    -fx-padding: 6.0 6.0 6.0 10.0;
}

.side-bar {
	-fx-background-color: #454553;
}

.accent {
    -fx-background-color: #4AA0D5;
}

.button {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0,1.0,2.0,3.0;
    -fx-background-radius: 3.0,2.0,2.0,2.0;
    -fx-text-fill: #FEFAEC;
    -fx-font-size: 8.0px;
    -fx-font-weight: bold;
}

#today-label {
    -fx-text-fill: #FEFAEC;
    -fx-font-size: 12.0px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-padding: 0.0 0.0 8.0 0.0;
}

#bubble {
   	-fx-background-color: #F08A5D;
	-fx-background-insets: 0.0,1.0,2.0,3.0;
	-fx-background-radius: 2.0,2.0,2.0,2.0;
	-fx-padding: 2.0 4.0 2.0 4.0;
	-fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 8.0px;
}
